/*-------------------------------------------------------------------network----------------------------------------------------------*/
body{ background-color:#f5f5f5;}
.black{ background-size:2px 51px; float:left; display:inline-block; width:42px; height:51px; padding-right:10px;}
.black b{float:left; background:url(black.png) no-repeat; margin:13px 0 0 10px;background-size:25px; display:inline-block; width:40px; height:32px;}
.addres{ border-radius:5px; background-color:#fff; height:38px; border:1px solid #cdcccc;box-shadow: 0 1px 1px #e4e4e4; line-height:38px; padding:0 10px; margin-bottom:10px;} 
.networkdiv{ height:auto; padding:0; text-indent:10px; width:100%; float:left; padding-bottom:5px;}
.addres span{ float:left; color:#999;}
.addres b{ background:url(jiantou_right.png) no-repeat 0; float:right; background-size:15px 18px; display:block; width:15px; height:18px; margin-top:10px;}
.addres p{border-bottom:1px dashed #999999; text-indent:0; padding:0 10px; }
.psfw{color:#999;}
.addr em{ background:url(network.png) no-repeat 0 1px; background-size:25px; height:30px; margin:5px 0 0 0; line-height:30px; float:left; width:27px;}
.phone em{background:url(network.png) no-repeat 0 -25px; background-size:21px; height:31px; margin:5px 0 0 0; line-height:30px; float:left; width:27px;}
.networkdiv strong{background: url(network.png) no-repeat 0 -60px;background-size: 22px;padding-left: 20px;height:22px;
font-weight: 100;float: right;padding-right: 10px;margin: 10px 0;line-height: 22px;}
.networkdiv2{ text-indent:0; float:left; width:100%;height:auto; padding:0; text-indent:10px; border-radius: 5px;background-color: #fff;
border: 1px solid #cdcccc;box-shadow: 0 1px 1px #e4e4e4;line-height: 38px;margin-bottom: 10px;}
.networkdiv2 P{ float:left; width:100%; border-bottom: 1px dashed #999999; position:relative;} 
.networkdiv2 b{ background:url(jiantou_right.png) no-repeat 0; float:right; background-size:15px 18px; display:block; width:15px; height:18px; margin-top:10px; position:absolute; right:10px;}
.networkdiv2 span{ float:left;text-indent: 0;margin-right: 25px;padding-left: 10px;}
/*---------------------------------------------------------------yzm-----------------------------------------------------------------*/
.yz{ width:100%;}
.txtinput{border:1px solid #cdcccc;box-shadow: 0 1px 1px #e4e4e4;height:35px; line-height:35px; background:#fff; color:#666; width:100%; border-radius:5px; margin:0 0 10px 0; text-indent:10px;}
.yz p input{ float:left;}
.yz p img{ height:35px; float:right; width:16%;}
.yzbtn{ width:100%; height:40px; line-height:40px; color:#fff; font-weight:bold; text-align:center; border-radius:5px; background-color:#10c9a4; border:none; font-size:14px; margin-bottom:10px;}
/*----------------------------------------------------------------apply-------------------------------------------------------*/
.gou{overflow: hidden;right: 10px;top: 10px;background:url(gou.png) no-repeat;background-size: 20px 40px;background-position: 0 -20px;margin: 10px 10px 0 10px; width:20px; height:20px;}
.gou.return {-moz-transform: rotate(0);-webkit-transform: rotate(0);-o-transform: rotate(0);transform: rotate(0);background-position: 0 0;}
#applyp p{ padding:0;}
.edittitle {border-radius: 5px;background-color: #e5c070;height:40px; text-indent:10px;margin-bottom: 10px;}
.edittitle img{ float:left; padding:4px 0 0 10px;}
.edittitle span {color: #fff;font-size: 18px;display: block;height:40px;line-height:40px;float: left;}
.applyorder,.c_proposals{ display:none;padding-bottom: 10px;}
/*--------------------------------------------------------------over--------------------------------------------------------------*/
.overdiv{text-align:center; width:100%; padding:20px 0 50px 0;}
.overdiv span{border:6px solid #0cb191; border-radius:250px; width:250px; height:150px; padding-top:100px; font-size:14px; background:#fff; display: inline-block;}
.overdiv span strong{ color:#0cb191;}
/*----------------------------------------------------------------contact---------------------------------------------------------*/
.btncontact{ background:#0cb191; border-radius:8px; line-height:30px; padding:0 10px; color:#fff; font-size:16px; font-weight:bold; display:inline-block; text-indent:0; margin-top:10px;}
.geo{height:237px; text-indent:0; margin:10px 10px 0 10px;}
.geo img{ width:100%; height:237px;}
.contactdiv p{min-height:30px;}
.dizhi{border-radius: 5px;background-color: #fff;border: 1px solid #cdcccc;box-shadow: 0 1px 1px #e4e4e4;padding:10px 0;margin-bottom: 10px;}
/*----------------------------------------------------------------orderdetail---------------------------------------------------------*/
.hangbg{line-height:40px; text-indent:10px;}
.hangbg div span{ width:49%; color:#333;}
.hangbg div span:first-child{ float:left;}
.hangbg div span:last-child{ float: right;}
.hangbg div span font{ color:#999999; font-size:13px;}
.oragecolor{ color:#ed6715; font-style:normal;}
.hangbg div:nth-child(even){ background:#e2fef9;}
.hangbg div:nth-child(2){ position:relative;}
.jt_down{ position:absolute; right:5px; top:6px;-webkit-transform: rotate(90deg);-webkit-transform-origin: 50% 50%;-o-transform: rotate(90deg);-o-transform-origin: 50% 50%;transform: rotate(90deg);transform-origin: 50% 50%;padding-right:10px;}
.returns {-webkit-transform: rotate(-90deg);-webkit-transform-origin: 50% 50%;-o-transform: rotate(-90deg);-o-transform-origin: 50% 50%;transform: rotate(-90deg);transform-origin: 50% 50%;}
.packagedl{ width:100%; border-bottom:1px dashed #999; float:left; padding:10px 0;}
.packagedl dt{ float:left;}
.packagedl dt img{ border-radius:100px; width:70px; height:70px; border:3px solid #0cb191;}
.packagedl dd{line-height:25px;margin-left:90px;}
.packagedl dd h3{ font-size:16px; font-weight:100;}
.packagedl dd p{ font-size:13px; border:none;}
.showwl{ background:#e2fef9 ; padding:0; display:none;}
.showwl p{ padding:0; border-bottom:none; text-indent:10px;}
.addres div{ min-height:39px; border-bottom:1px dashed #999999; text-indent:10px; width:100%; float:left;}
/*-------------------------------------------------------------------choicepackage---------------------------------------------------*/
.jiantou{background:url(jiantou_right.png) no-repeat 0; float:right; background-size:15px 18px; display:block; width:15px; height:18px;-webkit-transform: rotate(90deg);-webkit-transform-origin: 50% 50%;-o-transform: rotate(90deg);-o-transform-origin: 50% 50%;transform: rotate(90deg);transform-origin: 50% 50%;}
.classification{ background:#dadada; line-height:40px; height:40px; position:relative; border-bottom:1px solid #fff;margin-bottom:10px;}
.classf{ width:100%; position:relative; text-indent:10px;}
.classf span{ padding-right:10px;}
.ico-right{content: "";border-bottom: transparent 5px dashed;border-left: transparent 5px dashed;border-top: #8b8b8b 5px solid;
border-right: transparent 5px dashed;vertical-align: middle;display: inline-block;}
.search{position:absolute; right:10px; background:#fff; border-radius:5px; width:50%; top:5px; height:30px;}
.searchtxt{ width:95%; height:25px; line-height:25px; text-indent:10px; border:none;position:absolute; top:2px;}
.searchbtn{ border:none; background:url(search.png) no-repeat right; background-size:15px; width:15px; height:15px; position:absolute; right:10px; top:8px;}
.packagebtn{ float:right; border:none; background:#dadada; line-height:30px; height:30px; color:#333; text-align:center; border-radius:5px; padding:0 15px;}
.title_package{ line-height:40px; background:#dadada; text-indent:10px;}
.xuangou{position:relative; margin:10px 0;}
.xuangou b{ position:absolute; top:10px; right:10px;}
#kexuan_package{padding:5px 10px 10px 10px; display:none;}
.greeanbtn{ background:#0cb191; color:#fff;}
.pagediv{ width:100%; text-align:center; padding:10px 0;}
.pagediv a{background-image: linear-gradient(#DADADA,#DCDCDC);color: #434E5A; border-radius:5px; line-height:30px; height:30px; padding:0 10px; display:inline-block;} 
#showclass{box-shadow: 0 1px 1px #e4e4e4; display:none; z-index:9999; position:absolute; top:42px; width:100%;}
#showclass a{ height:40px; line-height:40px; text-indent:10px; background:#eeeded; display:block; border-bottom:1px solid #fff;}
#showclass a:hover{ background:#dadada ; color:#0cb191;}
#showclass a:active{ background:#dadada;}
.filterdiv{opacity:0.3; filter: alpha(opacity=30); background-color:#000; display:none;}
.mask{height:100%; width:100%; position:fixed; _position:absolute; top:92px;  }
.dx{-webkit-transform: rotate(180deg);-webkit-transform-origin: 50% 50%;-o-transform: rotate(180deg);-o-transform-origin: 50% 50%;transform: rotate(180deg);transform-origin: 50% 50%; margin-top:-10px;}
/*-----------------------------------------------------------------orderwrite---------------------------------------------------*/
.orderwrite{ border-radius:5px; background:#fff;border: 1px solid #cdcccc;box-shadow: 0 1px 1px #e4e4e4; margin-bottom:10px; width:100%; float:left;}
.orderwrite p{float: left;width: 100%;padding-bottom:10px;}
.titlecz{ height:40px; line-height:40px; text-indent:10px; position:relative;}
.orderjt{ position:absolute; right:10px; top:10px;}
.ordershow{ position:relative; text-indent:10px;padding:5px 0;}
.orderwr{ display:none; border-radius:5px;padding:10px;}
.orderwr p:last-child{ border-radius:0 0 5px 5px;}
.orderwr p span:last-child{ float:right;}
.orderwr font{ color:#666; font-size:13px;text-align: left;width:100%; padding-bottom:5px; float:left;}
.txtinput_order{ border: none; background:transparent; width:100%; height:30px; line-height:30px;}
.orderwr select{width:49%; background:transparent; color:#666;}
.orderwr textarea{width:100%; background:transparent;height:100px;}
.btn{ padding:10px;}
.yzimgss{ margin:0 10px; height:35px; float:right;}
.up {-webkit-transform: rotate(-90deg);-webkit-transform-origin: 50% 50%;-o-transform: rotate(-90deg);-o-transform-origin: 50% 50%;transform: rotate(-90deg);transform-origin: 50% 50%;}
.cur{-webkit-transform: rotate(-90deg);-webkit-transform-origin: 50% 50%;-o-transform: rotate(-90deg);-o-transform-origin: 50% 50%;transform: rotate(-90deg);transform-origin: 50% 50%;}
.packageimg img{ float:left;border-radius:70px; width:70px; height:70px; border:3px solid #0cb191;}
.packager{ float:left; padding-left:10px;}
.xzspan{ float:left; margin-top:25px;}
.kexuan_package{ display:none; border-top:1px dashed #999; padding-bottom:10px;}
#showkx dl{ background-color:#e2fef9; margin-bottom:0;}
#showkx dl:last-child{ border:none;}
/*-----------------------------------------------------------------thapply---------------------------------------------------*/
.pborder p:first-child{ border: none; border-radius:5px 5px 0 0}
/*-----------------------------------------------------------------fqa---------------------------------------------------*/
.faqdiv{ border-radius:5px; background:#fff;border:1px solid #cdcccc;box-shadow: 0 1px 1px #e4e4e4; line-height:18px; padding:10px; margin-bottom:10px;}
.faqdiv p { margin-top:-2px;}
.faqdiv p em{content: "";border-bottom: transparent 5px dashed;border-left: transparent 5px dashed;border-top: #0eb393 5px solid;
border-right: transparent 5px dashed;vertical-align: middle;display: inline-block;-webkit-transform: rotate(-90deg);-webkit-transform-origin: 50% 50%;-o-transform: rotate(-90deg);-o-transform-origin: 50% 50%;transform: rotate(-90deg);transform-origin: 50% 50%;}
.showfaq{ display:none; line-height:25px; color:#999999; text-indent:10px; padding-top:10px;}
/*-----------------------------------------------------------------------cardInformation---------------------------------------------*/
.qkxx{  border-radius:5px; background:#fff;border:1px solid #cdcccc;box-shadow: 0 1px 1px #e4e4e4;line-height:25px; padding:0 0 5px 0; margin-bottom:10px;}
.qkxx p{ padding:0 10px;}
.detailscontent p:first-child{ padding-top:10px;}
.packagedls{ width:100%; border-bottom:1px dashed #999;padding:10px 0; margin-bottom:10px; min-height:75px;}
.qkxx h2{ font-size:16px; font-weight:100; border-bottom:1px solid #ccc; text-indent:10px; padding-bottom:10px;}
.packagedls dt{ float:left; padding:0 10px;}
.packagedls dt img{ border-radius:70px; border:3px solid #0cb191; width:70px; height:70px; }
.packagedls dd a{position:absolute; background:url(jiantou_right.png) no-repeat; width:10px; height:13px; background-size:10px 13px; top:30px; right:10px;}
.packagedls dd span{ display:block; color:#999;}
.packagedls dd{ position:relative;}
/*--------------------------------------------------------------tuangou-------------------------------------------------------*/
.yz_tab{ width:100%;}
.yz_tab tr{ height:45px; padding:0 10px;}
.yz_tab tr input{ float:left;background: transparent; line-height:37px; width:100%;}
.yz_tab tr img{height:35px; position:absolute;right:20px;}
.yz_tab tr td:first-child{ text-align:right; }
.yz_tab tr td:last-child{ width:10px;}
.yz_tab tr select{background: transparent; width:100%;}
.yz_tab tr b{ position:relative; float:right;}
.textareaorder {width:90%;height: 80px;border: 1px solid #ccc;background: #fff; margin-top:10px; border-radius:5px;}
.bottomspan{ float:left; width:49%;}
.bottomspan div{margin-bottom:8px;}
.txtinputs{ border-radius:5px;}
/*-------后添加样式-------*/


input[type="text"],input[type="tel"],input[type="number"],input[type="password"],select{vertical-align: middle;border: 1px solid #ccc;border-radius: 4px;font-family: "微软雅黑";text-indent:3px;line-height:35px;height:35px;font-size:100%;}
textarea{border: 1px solid #ccc;line-height:25px;border-radius: 4px;font-family: "微软雅黑";text-indent: 10px;}
em{font-style: normal;}
.xuan_selpackage{height:30px; width: 100%; padding: 10px 10px 0px 0px;}
.xuan_selpackage input{margin-left:10px;}
input{font-family: "微软雅黑";}

input[type="button"]{cursor: pointer;-webkit-appearance: none;}
.couzhengtab{ width:100%;}

.icon-selects {float: left;overflow: hidden;background: url(anniu_03.png) no-repeat;background-position: 0 -20px;width: 20px;height: 20px;margin-right:8px;}
.picimg {float: left;width:60px;height:54px;border: 1px solid #b5b1b1;margin: 10px 0;}
.picimg img{width:60px;height: 54px;}
.packagec {float: left;line-height: 20px;padding: 10px 0 0 10px;}
.packagec p {font-size: 14px;padding:0;}
.packagec span {font-family: "微软雅黑";color: #666;display: block;}
.packagec em{font-style: normal;color: #f67d12;}

.pricep38{background: #edecec;line-height: 40px;margin-bottom: 5px;}
.icon-selects.return {-moz-transform: rotate(0);-webkit-transform: rotate(0);-o-transform: rotate(0);transform: rotate(0);background-position: 0 0;}
.nonep{text-align: center;color: red; padding:30px 0;}
.xuan_selpackage_1{height: 30px;padding: 10px 10px 0px 0px;}
.xuan_selpackage_1 input{margin-left:10px;}
.ordershowsss{text-indent: 10px;padding:0; font-size:16px; padding-top:5px;}

.selectborder{border:1px solid rgb(204, 204, 204);border-radius: 4px; height:35px; line-height:35px;width: 100%;display: inline-block;}
.selectborder select{border:0;height:23px;vertical-align: initial;}
.fontsize{font-size:12px;}
.price_s{ text-align:right; width:80px;padding-left:10px;display: inline-block;}

.wlzza{ width:100%;float:left;}

.ljbuy{ border-radius: 4px;color: #fff;font-size: 14px;text-align: center;line-height:28px;height:28px; display: inline-block;position: absolute;right:20px;background:#ed6715;text-indent: 0;padding: 0 6px;}
.ljbuy_t{position:static;margin-right:20px;float:right;}
.ljbuy:hover{ color:#fff; background:#07a989;}